.logo {
    font-size: 2.5em;
    font-weight: 600;
    text-decoration-color: #14ac71;
    padding: .5em;
    color: white;
    cursor: pointer;
}

.left {
    color: white;
    font-size: 18px;
    float: left;
}

.right {
    color: #fcfcfc;
    font-weight: 600;
    float: right;
}