.sider-menu {
    border-right: 0;
  }

  .inner-layout {
    padding: 24px 24px 24px;
  }

  nz-layout{
    background-color: white;
  }

  nz-content {
    background: #fff;
    padding: 24px;
    min-height: 80%;
  }

  .search {
    width: 100%;
    position: relative;
    display: -webkit-inline-box;
    display: inline-flex;
    border: 1px solid #14ac71;
  }
  
  .searchTerm {
    width: 100%;
    border: none;
    padding: 5px 5px 5px 15px;
    outline: none;
    color: #707070;
  }
  
  .searchTerm:focus{
    color: #04492f;
  }
  
  .searchButton {
    width: 40px;
    border: none;
    background: white;
    text-align: center;
    color: #14ac71;
    font-size: 20px;
    outline: none;
    cursor: default;

     i {
      position: relative;
      top: -2px;
     }
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    position: relative;
  }

  .slide-bar {
    border-right: 1px solid #e4e4e4;
  }