<nz-layout>
    <nz-content class="bg-white">
    <div class="topnav text-center">
            <!-- Centered link -->
            <div class="topnav-centered">
              <a href="#home" class="active">Logo</a>
            </div>
            
            <!-- Left-aligned links (default) -->
            <a href="#news">Menu</a>
            <a href="#contact">Start a projet</a>
            
            <!-- Right-aligned links -->
            <div class="topnav-right">
              <a href="#search">Explore the projects</a>
              <a href="#about">Sign</a>
            </div>  
      </div>
      <nz-affix>
      <div class="marger-bottom">
            <div style="background-color:#f3fbff;">
                <div class="container02">
                    <div class="f-Grid free-center"  data-radium="true">
                            <div class="col-3 text-center">
                                <a class="free- f-u-color-primary1 f-u-size-tiny f-u-weight-regular" data-radium="true">
                                    <i nz-icon class="arrow-left" nzType="left" nzTheme="outline"></i>
                                    Retour à ma sélection
                                </a>
                            </div>
                            <div class="col-6 text-center">
                                <span class="f-u-color-font1 f-u-weight-regular">
                                    "Première Neige", le premier livre photo de Jérémie Villet
                                </span>
                                <span class="f-u-color-font1 f-u-size-tiny f-u-weight-light" data-radium="true" style="display: block;">
                                    par Jérémie-Villet
                                </span>
                            </div>
                            <div class="col-3 text-center" style="padding-left: 18%;">
                                <span class="f-u-color-font1 f-u-size-tiny f-u-weight-light">
                                    Montant
                                    <span style="display:block" class="f-u-weight-regular">10 €</span>
                                </span>
                            </div>
                        </div>
                </div>
            </div>
        </div> 
    </nz-affix>
    <section nz-row  class="pt-5">
        <div class="container01">
            <div class="row pt-3" style="padding-left: 20px; padding-right: 20px;">
                <div class="col-lg-7">
                    <div class="marger-static2" style="text-align: initial">
                        <div  class="">
                            <h3 nz-title class="bigTitleStyle">
                                    Vos informations  de livraison
                            </h3>
                            <div style="margin-top: 1.25rem; margin-bottom: 2.5rem;">
                                <span class="horizontal-stroke"></span>
                            </div>
                            <div class="f-Grid col-12">
                                <div class="col-8">
                                    <form style="padding: 0px;">
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="gender-ms">
                                                        Civilité
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <nz-radio-group [(ngModel)]="radioValue">
                                                        <label nz-radio nzValue="Miss">Madame</label>
                                                        <label nz-radio nzValue="Mr">Monsieur</label>
                                                    </nz-radio-group>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="firstName">
                                                        Prénom
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="Prénom du destinataire" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="lastname">
                                                        Nom
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="Nom du destinataire" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="companyName">
                                                        Entreprise (optionnel)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="Nom de l'entreprise destinataire" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="phone">
                                                        Numéro de téléphone
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="6 XX XX XX XX" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="address1">
                                                        Adresse
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="Adresse du destinataire" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="address2">
                                                        Complément d'adresse
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="N° de bâtiment, étage, …" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="postalCode">
                                                        Code postal
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input2" nz-input placeholder="Code postal" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static2">
                                            <div class="marger-static">
                                                <div style="line-height: 1;">
                                                    <label class="f-label" for="city">
                                                        Ville
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="marger-static">
                                                <div style="-webkit-font-smoothing: antialiased;">
                                                    <input class="text-input" nz-input placeholder="Ville du destinataire" nzSize="large" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static">
                                            <div style="-webkit-font-smoothing: antialiased;">
                                                <div class="form-button">
                                                    <button class="buttonStyle button"> Continuer </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="marger-static">
                                            <span class="f-u-color-font1 f-u-size-micro f-u-style-italic f-u-weight-light has-kkOverrides">
                                                Nous protégeons vos données personnelles. 
                                            </span>
                                            <a href="#" class="f-u-color-primary1 f-u-decoration-none f-u-size-micro f-u-style-italic f-u-weight-regular">
                                                En savoir plus
                                            </a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div> 
                <div class=" offset-lg-1 col-lg-4 can-hidden-lg">
                    <div  style="background-color: rgb(34, 34, 34); margin-right: -40px; padding: 5rem 2.5rem 3.75rem; color: rgb(255, 255, 255);">
                        <div class="marger-static">
                            <p class="f-Title">Votre sélection</p>
                        </div>
                        <div class="marger-static">
                            <span class="horizontal-stroke-white"></span>
                        </div>
                        <div class="white-content marger-static">
                           <div class="marger-static">
                                <p class="f-Title f-u-style-italic">Pour 10 €</p>
                           </div>
                           <div style="margin-top: 1.25rem;margin-bottom: 0rem;">
                                <div class="f-u-color-font1 f-u-line-height-normal f-u-size-micro f-u-weight-light" style="margin: 0rem;">
                                    <div class="editorParagraphText">
                                        <li>En détails :
                                            + 1 invitation à la soirée de lancement qui aura lieu à Paris début décembre
                                            + 1 merci du fond du coeur pour votre participation
                                        </li>
                                    </div>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </nz-content>
    
    <nz-footer>
        <app-footer></app-footer>
    </nz-footer>
</nz-layout>
